body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}

.form input {
  border-radius: 15px;
 font-size: 14pt;
 padding: 10px;
 width: 80%;
}

.weak {
 font-weight: 300;
 color: red;
}

.strong {
 font-weight: 600;
 color: lightgreen;
}

.very-strong {
 font-weight: 900;
 color: darkgreen;
}
